---
import { Image } from 'astro:assets';
import headshot from '../assets/myHead.jpg';
---

<section class="intro" id="home">
    <h1 class="sectionTitle" id="sectionIntro">
      Hi, I am <strong>Zach Harwood</strong>
    </h1>
    <p class="sectionSubtitle" id="introSubtitle">Front-End Developer</p>
    <Image src={headshot} alt="Zach Harwood smiling" id="introImage" loading="eager"/>
    <p id="about">Web Developer with Usability focus specializing in building accessible technology and high-functionality web applications.</p>
    <section id="introLinks">
      <button id="resumeButton" onclick="location.href='/cResume.pdf'">
        <span>Resume</span>
        <i class="fa-solid fa-file-arrow-down"></i>
      </button>
      <ul class="socialList" id="topLinks">
        <li class="socialListItem"><a class="socialListLink" href="https://github.com/zah8756" aria-label="GitHub"><i class="fa-brands fa-github"></i></a></li>
        <li class="socialListItem"><a class="socialListLink" href="mailto:320zach@gmail.com" aria-label="Email"><i class="fa-solid fa-envelope"></i></a></li>
        <li class="socialListItem"><a class="socialListLink" href="https://www.linkedin.com/in/zachary-harwood-4a5586299/" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
    </section>
  </section>