---
import Project from "./Sub-Components/project.astro";
import mysiteFix from "../assets/mysiteFix.png";
import chatboard from "../assets/Chatboard.png";
import mtgdle from "../assets/mtgdle.png";
import php from "../assets/PHP.png";
import blackjack from "../assets/BlackJackSquare.png";
import recipes from "../assets/recipes.png";
import rps from "../assets/RPS.png";

const projects = [
  {
    href: "/projects/portfolio",
    imgSrc: mysiteFix,
    imgAlt: "Cropped image of this portfolio site",
    name: "Portfolio Site",
    techs: [
      { label: "Typescript", colorClass: "typescriptColor" },
      { label: "Figma", colorClass: "figmaColor" },
      { label: "Astro", colorClass: "astroColor" },
    ],
  },
  {
    href: "/projects/chatboard",
    imgSrc: chatboard,
    imgAlt: "Cropped image of a Figma diagram",
    name: "Chatboard",
    techs: [
      { label: "Figma", colorClass: "figmaColor" },
    ],
  },
  {
    href: "/projects/mtgdle",
    imgSrc: mtgdle,
    imgAlt: "Cropped image of the MTGdle game interface",
    name: "MTGdle",
    techs: [
      { label: "React", colorClass: "reactColor" },
      { label: "Tailwind CSS", colorClass: "tailwindColor" },
      { label: "Typescript", colorClass: "typescriptColor" },
    ],
  },
  {
    href: "/projects/seabase",
    imgSrc: php,
    imgAlt: "Cropped image of a website displaying ocean activities",
    name: "Seabase Remake",
    techs: [
      { label: "Figma", colorClass: "figmaColor" },
      { label: "PHP", colorClass: "phpColor" },
      { label: "MongoDB", colorClass: "mongoColor" },
    ],
  },
  {
    href: "/projects/blackjack",
    imgSrc: blackjack,
    imgAlt: "A cropped image of a round of blackjack",
    name: "Blackjack",
    techs: [
      { label: "Swift", colorClass: "swiftColor" },
      { label: "Figma", colorClass: "figmaColor" },
    ],
  },
];
---

<section class="myPorjects" id="projects">
  <h2 class="sectionTitle" id="sectionProjects">Projects</h2>
  <div id="portfolio">
    {projects.map((project) => <Project {...project} />)}
  </div>
</section>

<style>
  .myPorjects {
    color: var(--clr-light);
    text-align: center;
  }

  #sectionProjects {
    color: var(--clr-lightText);
  }

  #sectionProjects::after {
    content: "";
    display: block;
    width: 4em;
    height: 3px;
    margin: 0.5em auto 1em;
    background: linear-gradient(90deg, transparent, var(--clr-accent), transparent);
    border-radius: 2px;
  }

  #portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    max-width: 1400px;
    margin: 0 auto;
    gap: 0.5em;
  }
</style>
