---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import chatboard from "../../assets/Chatboard.png";
---

<ProjectLayout
  title="Chatboard"
  subtitle="A theoretical communication platform designed in Figma"
  img={chatboard}
  imgAlt="Cropped image of a Figma diagram"
  techs={[
    { label: "Figma", colorClass: "figmaColor" },
  ]}
>
  <p>Created as part of my MS in Human Computer Interaction research at RIT.</p>
  <p>Designed a theoretical communication program and used Figma's prototyping tools to conduct comprehensive usability testing with real participants.</p>
</ProjectLayout>
